@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
    --font-inter: "Inter", sans-serif; 
    --font-pacifico: "Pacifico", cursive;
    --font-playfair: "Playfair Display", serif;
    --color-primary: #1E88E5;
    --color-secondary: #F2F2F2;
    --color-accent: #333333;
}

body {
    @apply font-inter;
}

.logo {
    @apply font-pacifico
}